HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# exclude everything
logs/*

# exception to the rule
!logs/.gitkeep 

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/nbactions.xml
/nb-configuration.xml
/src/main/resources/static/js/demo.js
/src/main/resources/static/js/pages/
/src/main/resources/static/plugins/filterizr/Spinner/
/src/main/resources/static/plugins/flag-icon-css/flags/4x3/
/src/main/resources/static/plugins/filterizr/FilterItem/
/src/main/resources/static/plugins/jqvmap/
/src/main/resources/static/plugins/overlayScrollbars/css/
/src/main/resources/static/plugins/jquery-mapael/
/src/main/resources/static/plugins/filterizr/Filterizr/
/src/main/resources/static/plugins/ekko-lightbox/
/src/main/resources/static/plugins/pace-progress/themes/black/
/src/main/resources/static/plugins/pace-progress/themes/blue/
/src/main/resources/static/plugins/pace-progress/themes/white/
/src/main/resources/static/plugins/summernote/
/src/main/resources/static/plugins/pace-progress/themes/yellow/
/src/main/resources/static/plugins/overlayScrollbars/js/
/src/main/resources/static/plugins/jsgrid/demos/
/src/main/resources/static/plugins/bs-custom-file-input/
/src/main/resources/static/plugins/filterizr/config/
/src/main/resources/static/plugins/filterizr/FilterContainer/
/src/main/resources/static/plugins/jsgrid/
/src/main/resources/static/plugins/flag-icon-css/css/
/src/main/resources/static/plugins/pace-progress/
/src/main/resources/static/plugins/pdfmake/
/src/main/resources/static/plugins/bootstrap-slider/css/
/src/main/resources/static/plugins/bootstrap-slider/
/src/main/resources/static/plugins/flag-icon-css/flags/1x1/
/src/main/resources/static/plugins/filterizr/types/interfaces/
/src/main/resources/static/plugins/bootstrap4-duallistbox/
/src/main/resources/static/plugins/filterizr/FilterItems/
/src/main/resources/static/plugins/filterizr/utils/
/src/main/resources/static/plugins/bootstrap-switch/js/
/src/main/resources/static/plugins/filterizr/
/src/main/resources/static/plugins/bootstrap-colorpicker/js/
/src/main/resources/static/plugins/flot-old/
/src/main/resources/static/plugins/flot/
/src/main/resources/static/plugins/bootstrap-switch/css/bootstrap2/
/src/main/resources/static/plugins/bootstrap-switch/css/bootstrap3/
/src/main/resources/static/plugins/bootstrap-colorpicker/css/
/src/main/resources/static/plugins/sparklines/