<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
    <!--/* Title of this template will be passed to the head fragment along with custom links and scripts */-->
    <head th:replace="fragments/mainLayout :: head(~{this :: title}, ~{this :: .custom-link})">
        <title>Countries</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Select2 -->
        <link class="custom-link" rel="stylesheet" href="../../static/plugins/select2/css/select2.min.css" th:href="@{/static/plugins/select2/css/select2.min.css}">
        <link class="custom-link" rel="stylesheet" href="../../static/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" th:href="@{/static/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">

    </head>
    <body class="hold-transition sidebar-mini">

        <div class="wrapper">

            <nav th:replace="fragments/mainLayout :: header">
            </nav>

            <!-- Content Wrapper. Contains page content -->
            <main th:insert="fragments/mainLayout :: content(title=${pageTitle}, value=~{ :: #country_form_card})">    

                <!-- Main content -->
                <section class="content">
                    <div  class="container-fluid">
                        <div class="card card-info" id="country_form_card">
                            <div class="card-header">
                                <h3 class="card-title" id="module_title">Country</h3>
                            </div> 
                            <form action="#"
                                  th:action="@{/country/update/{isoCode}(isoCode=${country.isoCode})}"
                                  th:object="${country}" method="post">
                                <div class="card-body">
                                    <div class="col-md-11">
                                        
                                            <div class="form-group row">
                                                <label for="isoCode" class="col-form-label">ISO Code</label>
                                                <input
                                                    type="text" th:field="*{isoCode}" class="form-control" id="isoCode" minlength="2" maxlength="2" 
                                                    placeholder="Example: AR"> 
                                                <span
                                                    th:if="${#fields.hasErrors('isoCode')}" th:errors="*{isoCode}"
                                                    class="text-danger"></span>
                                            </div>
                                            <div class="form-group row">
                                                <label for="countryName" class="col-form-label">Country Name</label> 
                                                <input
                                                    type="text" th:field="*{countryName}" class="form-control" id="countryName"
                                                    placeholder="Example: Argentina"> 
                                                <span
                                                    th:if="${#fields.hasErrors('countryName')}" th:errors="*{countryName}"
                                                    class="text-danger"></span>
                                            </div>
                                            
                                            <div class="form-group row">

                                                <div class="offset-sm-3 col-sm-9">
                                                    <div class="form-check">
                                                        <input type="checkbox" th:field="*{enabled}" id="enabled"  value="1"  class="form-check-input">
                                                        <label for="enabled" class="form-check-label">Enabled</label>
                                                    </div><!--//.form-check -->
                                                </div>

                                            </div><!--//.form-group -->

                                           
                                        
                                    </div><!--//.col -->
                                </div>
                                <div class="card-footer">
                                    
                                        <input type="submit" class="btn btn-primary" value="Save">
                                        <a href="/country/list" class="btn btn-default float-right">Cancel</a>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                    </div><!-- /.container-fluid -->
                </section> <!-- /.content -->
            </main> 
            
            
            <footer th:replace="fragments/mainLayout :: footer(~{this :: .custom-script})">
                Footer

                <!-- DataTables -->
                <script class="custom-script" src="../../static/plugins/select2/js/select2.full.min.js" th:src="@{/static/plugins/select2/js/select2.full.min.js}"></script>

                <script class="custom-script">
                    $(function () {
                        $('.select2bs4').select2({
                            theme: 'bootstrap4'
                        });

                    });
                </script>
            </footer>

        </div><!-- ./wrapper -->

    </body>
</html>
